table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgb(211, 9, 211);
}

thead {
  background-color: rgb(68, 9, 124);
  color: #fff;
}

thead th:nth-child(1) {
  width: 50%;
}

thead th:nth-child(2) {
  width: 25%;
}

thead th:nth-child(3) {
  width: 25%;
}

th {
  padding: 20px;
}

tbody td {
  padding: 10px;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #e495e4;
}
